body {
    background-color: rgb(245, 219, 238) ;
    color:rgb(0, 0, 0) ;
    font-family: Arial;
    margin: 30px;
}
a {
    color: green;
    text-decoration: none;
    transition: 20ms 30ms;
}
a:link {
    color: rgb(25, 6, 194);
    text-decoration-color: blueviolet;
}
a:visited {
    color: rgb(129, 17, 86);
    text-decoration: dashed;
}
a:hover {
    color:  rgb(0, 195, 255);
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 300ms;
}
a:active {
    color: black;
    opacity: 0.3;
}