body {
    background-color: rgb(245, 219, 238) ;
    color:rgb(0, 0, 0) ;
    font-family: Arial;
    margin: 30px;
}
a {
    color: green;
    text-decoration: none;
    transition: 20ms 30ms;
}
a:link {
    color: rgb(25, 6, 194);
    text-decoration-color: blueviolet;
}
a:visited {
    color: rgb(129, 17, 86);
    text-decoration: dashed;
}
a:hover {
    color:  rgb(0, 195, 255);
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: 300ms;
}
a:active {
    color: black;
    opacity: 0.3;
}
div.menu {
    border:7px solid #00880080;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: yellowgreen;
    box-shadow: 0 0 15px #5b0b6680;
}
div.container { margin: 50px auto;
    text-align: center;
    border: 2px solid black;
    padding: 20px; max-width: 500px;
    background-color: rgb(24, 190, 190) ;
    } 